* {
    margin: 0;
    padding: 0;
}
main {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
}
.logo {
    width: 100%;
    height: 5rem;
    text-align: center;
}
.logo img {
    width: 70%;
    margin: 0 auto;
}
.search-box {
    border-radius: 1.5rem;
    padding: 0 1rem;
    border: 1px solid #777;
    height: 3rem;
}
.search-box #search-text {
    height: 100%;
    width: calc(100% - 1.5rem);
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1.2rem;
}
button {
    border: none;
    background-color: transparent;
    color: #757575;
    font-size: 1.5rem;
    float: right;
    height: 100%;
    outline: none;
    cursor: pointer;
}
.search-box:hover {
    border-color: #000;
}
.search-box:hover > button {
    color: #212121;
}
.search-box:focus-within {
    border-color: #000;
}
input:focus + button {
    color: #212121;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}
input:-webkit-autofill {
    -webkit-transition-delay: 99999s;
    -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
}

